html {
    box-sizing: border-box;
  
    font-family: sans-serif;
    color: white;
  }
  
  body {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #221E3E;
  }
  
  #img-div img {
    height: 4vh;
  }
  
  #img-div {
    margin: auto;
    text-align: center;
    margin-top: 8vh;
  }
  
  #h1-div h1 {
    font-size: 2.5rem;
    margin-top: 8vh;
  }
  
  #h1-div {
    text-align: center;
  }
  
  #input-div {
    background-color: #4C4863;
    height: 40vh;
    width: 80vw;
    min-width: 400px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    border: 4px solid white;
  }
  
  #input-div h2 {
    padding-top: 4vh;
  }
  
  #input-div input {
    font-size: 2.5rem;
    padding: 0.5rem;
    width: 80%;
    margin: 0 10%;
    color: white;
    background-color: #17132E;
    border: 1px solid white;
  }
  
  #input-div input:focus {
    outline: none;
    box-shadow: 0 0 5px cyan;
  }
  
  #convert-btn {
    font-size: 2rem;
    width: 80%;
    padding: 0.5rem;
    margin-top: 5vh;
    background: linear-gradient(
      0deg,
      #997D16,
      #FFCE18
    );
    border: 3px solid orange;
  }
  
  #convert-btn:hover {
    cursor: pointer;
  }
  
  #output {
    width: 80vw;
    height: 12vh;
    min-width: 400px;
    max-width: 600px;
    margin: auto;
    margin-top: 4vh;
    text-align: center;
    display: none;
    font-size: 2rem;
  }
  
  .red {
    background-color: #D89191;
    border: 4px solid #4D1313;
    color: #4D1313;
  }
  
  .normal {
    background-color: #4C4863;
    border: 4px solid white;
    color: white;
  }